.header {
  height: 502px;
  background-color: $pink;
  img {
    width: 100%;
  }
}

.sub-banner-section {
  padding-bottom: 55px;
  background-color: $white;
  padding-bottom: 70px;
  img {
    margin-top: 60px;
    width: 100%;
  }
  .btn {
    width: 100%;
    margin-top: 40px;
    background: #00d0a7;
    background-image: -webkit-linear-gradient(top, #00d0a7, #bffff2);
    background-image: -moz-linear-gradient(top, #00d0a7, #bffff2);
    background-image: -ms-linear-gradient(top, #00d0a7, #bffff2);
    background-image: -o-linear-gradient(top, #00d0a7, #bffff2);
    background-image: linear-gradient(to bottom, #00d0a7, #bffff2);
    -webkit-border-radius: 18;
    -moz-border-radius: 18;
    border-radius: 18px;
    font-family: Arial;
    color: #ffffff;
    font-size: 35px;
    padding: 20px 100px 20px 100px;
    border-bottom: 10px solid lighten(#00d0a7, 30%);
    border-top: none;
    border-left: none;
    border-right: none;
    text-decoration: none;
    span {
      margin-left: 50px;
    }
    &:focus {
        outline: none;
    }
  }
  .btn:hover {
    background: #00d0a7;
    background-image: -webkit-linear-gradient(top, #00d0a7, #bffff2);
    background-image: -moz-linear-gradient(top, #00d0a7, #bffff2);
    background-image: -ms-linear-gradient(top, #00d0a7, #bffff2);
    background-image: -o-linear-gradient(top, #00d0a7, #bffff2);
    background-image: linear-gradient(to bottom, #00d0a7, #bffff2);
    border-bottom: 10px solid lighten(#00d0a7, 30%);
    text-decoration: none;
  }
}


// ********************
// Header media queries
// ********************
