.speech-bubbles {
  background-color: $gray-background;
  img {
    margin-top: -35px;
    margin-bottom: -63px;
    width: 100%;
  }
}

.checkbox {
  background-color: $yellow-background;
  padding: 40px 0 100px 0;
  img {
    margin-top: 65px;
    width: 100%;
  }
}

.package-1, .package-3 {
  padding: 85px 0;
  background-color: $blue;
  position: relative;
  z-index: 1;
  img {
    width: 100%;
  }
  &:before, &:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; // for Chrome Windows
  }
  &:before {
    top: 0;
    transform: skewY(1.5deg);
    transform-origin: 100% 0;
  }
  &:after {
    bottom: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100%;
  }
}

.package-2 {
  padding: 125px 0;
  img {
    width: 100%;
  }
}

.yellow-section-desktop {
  padding: 85px 0;
  background-color: $yellow-background;
  position: relative;
  img {
    width: 100%;
  }
}

.yellow-section-mobile-1,
.yellow-section-mobile-2,
.white-section-mobile-1,
.white-section-mobile-2 {
  display: none;
}

.white-section-desktop {
  padding: 85px 0;
  img {
    width: 100%;
  }
}


// *************
// Media queries
// *************

// Change bottom of page design for mobile

@media only screen and (max-width: 575px) {
  .yellow-section-desktop {
    display: none;
  }
  .yellow-section-mobile-1, .yellow-section-mobile-2 {
    display: block;
    background-color: $yellow-background;
    position: relative;
    z-index: 1;
    margin-top: 25px;
    img {
      width: 100%;
    }
    &:before, &:after {
      background: inherit;
      content: '';
      display: block;
      height: 50%;
      left: 0;
      position: absolute;
      right: 0;
      z-index: -1;
      -webkit-backface-visibility: hidden; // for Chrome Windows
    }
    &:before {
      top: 0;
      transform: skewY(1.5deg);
      transform-origin: 100% 0;
    }
    &:after {
      bottom: 0;
      transform: skewY(-1.5deg);
      transform-origin: 100%;
    }
  }
  .yellow-section-mobile-1 {
    padding: 70px 10px 0 10px;
    img {
      margin-top: -130px;
    }
  }
  .yellow-section-mobile-2 {
    padding-bottom: 5px;
  }
  .white-section-mobile-1 {
    display: block;
    img {
      width: 100%;
      margin-top: 15px;
    }
  }
  .white-section-desktop {
    display: none;
  }
  .white-section-mobile-2 {
    display: block;
    padding: 20px 0;
    img {
      width: 100%;
      margin-top: 15px;
    }
  }
}

// Changing bottom margin of speech bubble image to line up with div
// Largest screens to smallest

@media only screen and (min-width: 2470px) {
  .speech-bubbles {
    img {
      margin-bottom: -105px;
    }
  }
}

@media only screen and (min-width: 2341px) and (max-width: 2469px) {
  .speech-bubbles {
    img {
      margin-bottom: -100px;
    }
  }
}

@media only screen and (min-width: 2221px) and (max-width: 2340px) {
  .speech-bubbles {
    img {
      margin-bottom: -95px;
    }
  }
}

@media only screen and (min-width: 2091px) and (max-width: 2220px) {
  .speech-bubbles {
    img {
      margin-bottom: -90px;
    }
  }
}

@media only screen and (min-width: 1976px) and (max-width: 2090px) {
  .speech-bubbles {
    img {
      margin-bottom: -85px;
    }
  }
}

@media only screen and (min-width: 1841px) and (max-width: 1975px) {
  .speech-bubbles {
    img {
      margin-bottom: -80px;
    }
  }
}

@media only screen and (min-width: 1696px) and (max-width: 1840px) {
  .speech-bubbles {
    img {
      margin-bottom: -75px;
    }
  }
}

@media only screen and (min-width: 1586px) and (max-width: 1695px) {
  .speech-bubbles {
    img {
      margin-bottom: -70px;
    }
  }
}

@media only screen and (min-width: 1520px) and (max-width: 1585px) {
  .speech-bubbles {
    img {
      margin-bottom: -65px;
    }
  }
}

@media only screen and (min-width: 1325px) and (max-width: 1385px) {
  .speech-bubbles {
    img {
      margin-bottom: -60px;
    }
  }
}

@media only screen and (min-width: 1220px) and (max-width: 1325px) {
  .speech-bubbles {
    img {
      margin-bottom: -66px;
    }
  }
}

@media only screen and (min-width: 1150px) and (max-width: 1219px) {
  .speech-bubbles {
    img {
      margin-bottom: -53px;
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1149px) {
  .speech-bubbles {
    img {
      margin-bottom: -48px;
    }
  }
}

@media only screen and (min-width: 993px) and (max-width: 1023px) {
  .speech-bubbles {
    img {
      margin-bottom: -70px;
    }
  }
}

@media only screen and (min-width: 890px) and (max-width: 992px) {
  .speech-bubbles {
    img {
      margin-bottom: -72px;
    }
  }
}

@media only screen and (min-width: 800px) and (max-width: 889px) {
  .speech-bubbles {
    img {
      margin-bottom: -66px;
    }
  }
}

@media only screen and (min-width: 711px) and (max-width: 799px) {
  .speech-bubbles {
    img {
      margin-bottom: -60px;
    }
  }
}

@media only screen and (min-width: 630px) and (max-width: 710px) {
  .speech-bubbles {
    img {
      margin-bottom: -53px;
    }
  }
}

@media only screen and (min-width: 560px) and (max-width: 629px) {
  .speech-bubbles {
    img {
      margin-bottom: -49px;
    }
  }
}

@media only screen and (min-width: 495px) and (max-width: 559px) {
  .speech-bubbles {
    img {
      margin-bottom: -44px;
    }
  }
}

@media only screen and (min-width: 440px) and (max-width: 494px) {
  .speech-bubbles {
    img {
      margin-bottom: -42px;
    }
  }
}

@media only screen and (min-width: 400px) and (max-width: 439px) {
  .speech-bubbles {
    img {
      margin-bottom: -37px;
    }
  }
}

@media only screen and (min-width: 300px) and (max-width: 399px) {
  .speech-bubbles {
    img {
      margin-bottom: -34px;
    }
  }
}
