.speech-bubbles {
  height: 85vh;
  background-color: $gray-background;
  margin: 15px;
}

.checkbox {
  height: 85vh;
  background-color: $yellow-background;
  margin: 15px 15px 0 15px;
}

.package-1, .package-3 {
  height: 85vh;
  background-color: $blue;
  position: relative;
  z-index: 1;
  h1 {
    font-size: 7em;
    color: $white;
  }
  h2 {
    color: white;
  }
  .yellow-banner {
    height: 60px;
    background-color: $yellow-banner;
    width: 90%;
  }
  &:before, &:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; // for Chrome Windows
  }
  &:before {
    top: 0;
    transform: skewY(1.5deg);
    transform-origin: 100% 0;
  }

  &:after {
    bottom: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100%;
  }
}

.package-2 {
  height: 95vh;
}

.banner {
  height: 90vh;
}

.yellow-section-1, .yellow-section-2 {
  height: 40vh;
  background-color: $yellow-background;
  position: relative;
  z-index: 1;
  &:before, &:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; // for Chrome Windows
  }
  &:before {
    top: 0;
    transform: skewY(1.5deg);
    transform-origin: 100% 0;
  }

  &:after {
    bottom: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100%;
  }
}

.white-section {
  height: 60vh;
}
