// ******
// Colors
// ******

$pink: #ff3f60;
$gray-background: #545454;
$gray-text: #6e6e6e;
$blue: #0054d2;
$white: #fff;
$yellow-background: #fff581;
$yellow-banner: #ffff00;
$red-banner: #c20007;
$button-color: #00d0a7;
